<section class="relative px-6 py-24 sm:py-10 lg:px-8">
  <!-- Grid principal -->
  <div class="mx-auto max-w-7xl">
    <div class="grid grid-cols-4 gap-2 auto-rows-[200px]">
      <!-- Fila 1: 1fr, 1fr, 2fr -->
      <div
        class="bg-muga-dark-800/50 rounded-xl col-span-1 flex items-center justify-center text-muga-neutral"
      >
        1fr
      </div>
      <div
        class="bg-muga-dark-800/50 rounded-xl col-span-1 flex items-center justify-center text-muga-neutral"
      >
        1fr
      </div>
      <div
        class="bg-muga-dark-800/50 rounded-xl col-span-2 flex items-center justify-center text-muga-neutral"
      >
        2fr
      </div>

      <!-- Fila 2: 1fr, 2fr, 1fr -->
      <div
        class="bg-muga-dark-800/50 rounded-xl col-span-1 flex items-center justify-center text-muga-neutral"
      >
        1fr
      </div>
      <div
        class="bg-muga-dark-800/50 rounded-xl col-span-2 flex items-center justify-center text-muga-neutral"
      >
        2fr
      </div>
      <div
        class="bg-muga-dark-800/50 rounded-xl col-span-1 flex items-center justify-center text-muga-neutral"
      >
        1fr
      </div>

      <!-- Fila 3: 2fr, 1fr, 1fr -->
      <div
        class="bg-muga-dark-800/50 rounded-xl col-span-2 flex items-center justify-center text-muga-neutral"
      >
        2fr
      </div>
      <div
        class="bg-muga-dark-800/50 rounded-xl col-span-1 flex items-center justify-center text-muga-neutral"
      >
        1fr
      </div>
      <div
        class="bg-muga-dark-800/50 rounded-xl col-span-1 flex items-center justify-center text-muga-neutral"
      >
        1fr
      </div>
    </div>
  </div>
</section>